<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    |<h1>FORMULARIO EJEMPLO CLASE #2</h1> 
    <br>
    <span>Nombre</span>
      <el-input placeholder="Introduzca su nombre" v-model="input"></el-input> 
    <br>
    <span>Seleccione su genero:</span>
    <br>
    <el-radio-group v-model="radio2">
        <el-radio :label="3">Masculino</el-radio>
        <el-radio :label="6">Femenino</el-radio>
      </el-radio-group>
    <br>
    <span>Introduzca su edad:</span>
    <br>
    <el-input-number v-model="num1" @change="handleChange" :min="1" :max="99"></el-input-number>
    <br>
    <span>Seleccione su Carrera:</span>
    <br>
    <el-select v-model="value" placeholder="Select">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    <br>
    <el-checkbox v-model="checked">Acepto los terminos y condiciones</el-checkbox>
    <br>
    <el-button @click="visible = true">Subir</el-button>
    <el-dialog :visible.sync="visible" title="Hola">
      <p>Prueba</p>
    </el-dialog>
   
  </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
      new Vue({
        el: '#app',
        data: function() {
          return {
             visible: false,
             options: [{
                value: 'Ing',
                label: 'Ing'
              }, {
                value: 'Diseño',
                label: 'Diseño'
              }, {
                value: 'Redes',
                label: 'Redes'
              }, {
                value: 'Gastronomia',
                label: 'Gastronomia'
              }, {
                value: 'Salud',
                label: 'Salud'
              }],
          value: ''
             
          }
        }
      })
    </script>
</html>